<div class="user-management">
  <h2>Users</h2>
  
  <!-- Create User Form -->
  <div *ngIf="issuperadmin">
    <h3>Create User</h3>
    <button class="btn btn-primary mb-3" (click)="toggleCreateUserForm()">Create</button>
    <form *ngIf="showCreateUserForm" (ngSubmit)="createUser()">
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" id="name" [(ngModel)]="newUser.username" name="name" class="form-control" required>
      </div>
      
      <div class="mb-3">
        <label for="email" class="form-label">Email:</label>
        <input type="email" id="email" [(ngModel)]="newUser.email" name="email" class="form-control" required>
      </div>
      
      <button type="submit" class="btn btn-primary" >Create User</button>
    </form>
  </div>
  <!-- List of Users -->
  <div>
    <h3 class="mb-3">List of Users</h3>
    <ul class="list-group">
        <li *ngFor="let user of users" class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              {{ user.username }}
              <div *ngIf="issuperadmin">
                  <button (click)="toggleButtonVisibility(user._id, 'promote')" class="btn btn-light">{{ user.email }}</button>
                  <div *ngIf="userButtonVisibility[user._id]" class="ml-3">
                      <ul class="roles-list">
                        <li *ngFor="let role of user.roles">{{ role }}</li>
                      </ul>
                      <button (click)="promotetosuper(user._id)" class="btn btn-primary">Promote to Super</button>
                      <button (click)="promotetogroupadmin(user._id)" class="btn btn-primary">Promote to Group Admin</button>
                      <button (click)="deleteUser(user._id)" class="btn btn-danger">Delete</button>
                  </div>
              </div>
          </div>
        </li>
    </ul>
  </div>
</div>