
<!-- group admin/super admin  -->
<div>
    <!-- Group list  -->
    <div *ngIf="isadmin">
        <h1>admin view</h1>
        <app-userlist></app-userlist>
        <div>
        </div>
    <!-- grouplist -->
        <div><br>
            grouplist
            <app-grouplist></app-grouplist>
            <br>
            create channel
            <button type="button" (click)="addchannel($event) " class="btn btn-primary">addchannel</button>
            <br>
            remove channel
            <button type="button" (click)="removechannel($event) " class="btn btn-primary">removechannel</button>
            <br>
            <br>
            dropdown 
            users list 
            <br>
            remove users
        </div>


    </div>
    <div>
        <br><br>
        <!-- users -->
        <h1>User view</h1>
        <br>
        groups list 
        <app-grouplist></app-grouplist>
        <br>
        join channel
        <br>
        apply group
        <br>
        leave group
        <br>

    </div>

</div>




