
<!-- group admin/super admin  -->
<div>
    <!-- Group list  -->
    <div *ngIf="isadmin">
        <h1>admin view</h1>
        <h3>Users</h3>
        <app-userslist-group-view></app-userslist-group-view>
    <!-- grouplist -->
        <div>
            <app-grouplist></app-grouplist>
            <app-channel></app-channel>
            <app-groupuser></app-groupuser>
        </div>


    </div>
    <div  *ngIf="!isadmin">
        <!-- users -->
        <h1>User view</h1>
        <app-grouplist></app-grouplist>
        <app-channel></app-channel>
    </div>

</div>




