<div>
    <div>
        <button type="button" (click)="edit($event) " class="btn btn-primary">edit</button>
        
        <button type="button" (click)="cancel($event) " class="btn btn-primary">cancel</button>
        <form>
            <input type="text">
            <button type="button" (click)="creategroup($event) " class="btn btn-primary">create group</button>
        </form>

    </div>
    <div>
        <ul *ngFor="let group of newgrouplist">
            <li>{{group.name}} <button type="button" (click)="remove($event) " class="btn btn-primary">removegroup</button> </li>
        </ul>
    </div>
</div>

