<div>
    <h3>Group list</h3>
    <div *ngIf="isadmin">
        <form >
            <input type="text" [(ngModel)]="newgroupname"  name="newgroup" class="form-control" />
            <button type="button" (click)="creategroup(newgroup)" class="btn btn-primary">create group</button>
        </form>

    </div>
    <div>
        <ul *ngFor="let group of currentgrouplist" >
            <li>
                <button (click)="onSelect(group)">{{group.name}} </button>
                <form *ngIf="isadmin" >
                    <input type="text">
                    <button type="button" (click)="addUser($event) " class="btn btn-primary">add User</button>
                </form>               
                <button *ngIf="isadmin"  type="button" (click)="remove(group.name) " class="btn btn-primary">removegroup</button> </li>
        </ul>
    </div>
</div>

