<div>
    <div>
        <h3>Channels</h3>
        <div>
            <form action="">
                <input type="text">
                <button  type="button" class="btn btn-primary">addchannel</button>
            </form>
           <br><br>
        </div>
        <div>
            <ul *ngFor="let any of group">
                <li>{{any}}  
                    <button type="button" class="btn btn-primary">joinchannel</button>
                    <button  type="button"  class="btn btn-primary">removechannel</button>
                </li>
            </ul>
        </div>
        
     
    </div>
</div>
