
<div>
    <h3>{{group.name}} <br> Channels</h3>
    <div>
        <form (submit)="addChannel()" *ngIf="issuperadmin || isadminofgroup">
            <input class="form-control" type="text" [(ngModel)]="newchannel.name" name="channelName" placeholder="Enter channel name">
            <button type="submit" class="btn btn-primary">Add Channel</button>
        </form>
        <div>{{errormsg}}</div>
        <br>
    </div>
    <div>
        <ul>
            <li *ngFor="let channel of channels">
                {{ channel.name}}
                <button type="button" class="btn btn-primary" (click)="joinChannel(channel._id)">Join Channel</button>
                <button *ngIf="issuperadmin || isadminofgroup" type="button" class="btn btn-primary" (click)="removeChannel(channel._id)">Remove Channel</button>
            </li>
        </ul>
    </div>
</div>
