<nav class="navbar navbar-expand-sm bg-light">
  <div class="container-fluid">
    <div class="navbar-brand" >Logo</div>
      <div class="navbar-nav">
        <a class="nav-link" routerLink="/login">Login</a>
        <a class="nav-link" routerLink="/chat">Chat</a>
        <a class="nav-link" routerLink="/group">Group</a>
        <a class="nav-link" routerLink="/proflie">Profile</a>
        <a class="nav-link" routerLink="/roles">roles</a>
        <a class="nav-link" routerLink="/signup">Signup</a>
      </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>