<div class="chat-container">
  <h2 class="channel-heading">{{ newChannel.name }}</h2>
  <div class="chat-messages">
    <div id="scrollable" #scrollable class="scrollable">
      <div *ngFor="let message of messages" class="message">
        <svg *ngIf="!message.avatar" class="avatar" xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" viewBox="0 0 16 16">
          <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z"/>
        </svg>
        <img *ngIf="message.avatar" class="avatar" width="50" height="50" class="avatar" [src]="'http://localhost:3000/images/' + message.avatar" />
        <span class="message-content">{{ message.username }}:</span>
        <span class="message-content">{{ message.message }}</span>
        <img *ngIf="message.image" width="200" height="200" [src]="'http://localhost:3000/images/' + message.image" />
        <div>
          <span class="message-timestamp">{{ message.timestamp | date: 'hh:mm:ss a' }}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-input">
      <input
          type="text"
          [(ngModel)]="newmessage"
          class="form-control"
          placeholder="Type your message..."
          (keyup.enter)="send()"
      />
      <button class="btn btn-primary" (click)="send()">Send</button>
  </div>
  <input type="file" class="form-control" #fileInput (change)="onFileSelected($event)" name="image" id="uploadfile" />
  <div class="leave-button">
      <button class="btn btn-danger" (click)="leave()">Leave</button>
  </div>
</div>
