<div>
    <h3>Group list</h3>
    <div>
      <form>
        <input type="text" [(ngModel)]="newgroupname" name="newgroup" class="form-control" />
        <button type="button" (click)="createGroup()" class="btn btn-primary">Create Group</button>
      </form>
    </div>
    <div>
      <ul>
        <li *ngFor="let group of currentgrouplist">
          <button (click)="onSelect(group)">{{ group.name }}</button>
          <form>
            <input type="text" [(ngModel)]="adduser" name="newuser" class="form-control" />
            <button type="button" (click)="addUser()" class="btn btn-primary">Add User</button>
          </form>
          <button type="button" (click)="remove(group)" class="btn btn-danger">Remove Group</button>
        </li>
      </ul>
    </div>
  </div>

