<div>
    <h3 class="mb-3">Group list</h3>
    <div>
        <form>
            <div>
                <input type="text" [(ngModel)]="newgroupname" name="newgroup" class="form-control" placeholder="Enter group name" />
                <button type="button" (click)="createGroup()" class="btn btn-primary">Create Group</button>
            </div>
        </form>
        <div>
          {{errormsg}}
        </div>
        <br>
    </div>
    <div>
      <ul class="list-group">
          <li *ngFor="let group of currentgrouplist" class="list-group-item">
              <div class="row">
                  <div class="col">
                      <button (click)="onSelect(group)" class="btn btn-light">{{ group.name }}</button>
                  </div>
                  <div class="col">
                      <div>
                          <button (click)="toggleButtonVisibility(group._id, 'toggle')" class="btn btn-primary">Edit</button>
                      </div>
                  </div>
              </div>
            <div *ngIf="groupButtonVisibility[group._id]">
                <form>
                    <div>
                        <input type="text" [(ngModel)]="this.groupUserinput[group._id]" name="newuser" class="form-control" />
                        <button type="button" (click)="addUser(group)" class="btn btn-primary">Add User</button>
                    </div>
                </form>
                <button type="button" (click)="remove(group)" class="btn btn-danger">Remove Group</button>
                <div> {{groupErroruser[group._id]}} {{groupSuccess[group._id]}} </div>
            </div>
          </li>
      </ul>
    </div>
  </div>
  
  
